In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns
import time
from datetime import datetime
import os
import gc
import random
path = '../../../DEVELOPMENT/Fraud Detection/input/'

In [53]:
train_sample = pd.read_csv(path+'train_sample.csv')
test = pd.read_csv(path+'test.csv')
sample_submission = pd.read_csv(path+'sample_submission.csv')
np.random.seed(0)

In [54]:
sub = pd.DataFrame()
sub['click_id'] = test['click_id'].astype('int')
test.drop(['click_id'], axis=1, inplace=True)
gc.collect()

160

In [55]:
train_sample['click_time_dt']= pd.to_datetime(train_sample['click_time'])
dt= train_sample['click_time_dt'].dt
train_sample['day'] = dt.day.astype('uint8')
train_sample['hour'] = dt.hour.astype('uint8')
train_sample['minute'] = dt.minute.astype('uint8')
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_time_dt,day,hour,minute
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017-11-07 09:30:38,7,9,30
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017-11-07 13:40:27,7,13,40
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017-11-07 18:05:24,7,18,5
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017-11-07 04:58:08,7,4,58
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017-11-09 09:00:09,9,9,0

In [56]:
test.head()

       ip  app  device  os  channel           click_time
0    5744    9       1   3      107  2017-11-10 04:00:00
1  119901    9       1   3      466  2017-11-10 04:00:00
2   72287   21       1  19      128  2017-11-10 04:00:00
3   78477   15       1  13      111  2017-11-10 04:00:00
4  123080   12       1  13      328  2017-11-10 04:00:00

In [57]:
test['click_time_dt']= pd.to_datetime(test['click_time'])
dt= test['click_time_dt'].dt
test['day'] = dt.day.astype('uint8')
test['hour'] = dt.hour.astype('uint8')
test['minute'] = dt.minute.astype('uint8')
test.head()

,ip,app,device,os,channel,click_time,click_time_dt,day,hour,minute
0,5744,9,1,3,107,2017-11-10 04:00:00,2017-11-10 04:00:00,10,4,0
1,119901,9,1,3,466,2017-11-10 04:00:00,2017-11-10 04:00:00,10,4,0
2,72287,21,1,19,128,2017-11-10 04:00:00,2017-11-10 04:00:00,10,4,0
3,78477,15,1,13,111,2017-11-10 04:00:00,2017-11-10 04:00:00,10,4,0
4,123080,12,1,13,328,2017-11-10 04:00:00,2017-11-10 04:00:00,10,4,0

In [58]:
train_sample = train_sample.drop(['click_time','click_time_dt','attributed_time',], axis = 1)
test = test.drop(['click_time','click_time_dt'], axis = 1)

In [59]:
y = train_sample['is_attributed']
x_train = train_sample.drop('is_attributed',axis=1)

In [60]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import cross_val_score

In [61]:
my_pipeline = make_pipeline(Imputer(), RandomForestClassifier())

In [64]:
scores = cross_val_score(my_pipeline, x_train, y, scoring='roc_auc', cv=8)
print(scores)

[ 0.87611007  0.80574279  0.75513426  0.83603128  0.87067317  0.81828843
  0.90789202  0.87220638]

In [65]:
test.tail()

              ip  app  device  os  channel  day  hour  minute
18790464   99442    9       1  13      127   10    15       0
18790465   88046   23       1  37      153   10    15       0
18790466   81398   18       1  17      265   10    15       0
18790467  123236   27       1  13      122   10    15       0
18790468   73516   12       2  27      265   10    15       0

In [66]:
my_pipeline.fit(x_train, y)
prediction = my_pipeline.predict(test)
len(prediction)

18790469

In [67]:
sub['is_attributed'] = prediction
sub.head()

   click_id  is_attributed
0         0              0
1         1              0
2         2              0
3         3              0
4         4              0

In [68]:
sub.to_csv('RF2.csv', float_format='%.8f', index=False)