In [57]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import os
path = '../../../DEVELOPMENT/Fraud Detection/input/'

In [58]:
train_sample = pd.read_csv(path+'train_sample.csv', parse_dates=['click_time'])

In [59]:
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [60]:
train_sample['day'] = train_sample['click_time'].dt.day.astype('uint8')
train_sample['hour'] = train_sample['click_time'].dt.hour.astype('uint8')
train_sample['minute'] = train_sample['click_time'].dt.minute.astype('uint8')
train_sample['second'] = train_sample['click_time'].dt.second.astype('uint8')
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,7,9,30,38
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,7,13,40,27
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,7,18,5,24
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,7,4,58,8
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,9,9,0,9

In [61]:
ATTRIBUTION_CATEGORIES = [        
    # V1 Features #
    ###############
    ['ip'], ['app'], ['device'], ['os'], ['channel'],
    
    # V2 Features #
    ###############
    ['app', 'channel'],
    ['app', 'os'],
    ['app', 'device'],
    
    # V3 Features #
    ###############
    ['channel', 'os'],
    ['channel', 'device'],
    ['os', 'device']
]

In [62]:
# Find frequency of is_attributed for each unique value in column
freqs = {}
for cols in ATTRIBUTION_CATEGORIES:
    
    # New feature name
    new_feature = '_'.join(cols)+'_confRate'    
    
    # Perform the groupby
    group_object = train_sample.groupby(cols)
    
    # Group sizes    
    group_sizes = group_object.size()
    log_group = np.log(100000) # 1000 views -> 60% confidence, 100 views -> 40% confidence 
    print(">> Calculating confidence-weighted rate for: {}.\n   Saving to: {}. Group Max /Mean / Median / Min: {} / {} / {} / {}".format(
        cols, new_feature, 
        group_sizes.max(), 
        np.round(group_sizes.mean(), 2),
        np.round(group_sizes.median(), 2),
        group_sizes.min()
    ))

>> Calculating confidence-weighted rate for: ['ip'].
   Saving to: ip_confRate. Group Max /Mean / Median / Min: 669 / 2.87 / 2.0 / 1
>> Calculating confidence-weighted rate for: ['app'].
   Saving to: app_confRate. Group Max /Mean / Median / Min: 18279 / 621.12 / 4.0 / 1
>> Calculating confidence-weighted rate for: ['device'].
   Saving to: device_confRate. Group Max /Mean / Median / Min: 94338 / 1000.0 / 1.0 / 1
>> Calculating confidence-weighted rate for: ['os'].
   Saving to: os_confRate. Group Max /Mean / Median / Min: 23870 / 769.23 / 22.5 / 1
>> Calculating confidence-weighted rate for: ['channel'].
   Saving to: channel_confRate. Group Max /Mean / Median / Min: 8114 / 621.12 / 198.0 / 1
>> Calculating confidence-weighted rate for: ['app', 'channel'].
   Saving to: app_channel_confRate. Group Max /Mean / Median / Min: 7833 / 225.73 / 18.0 / 1
>> Calculating confidence-weighted rate for: ['app', 'os'].
   Saving to: app_os_confRate. Group Max /Mean / Median / Min: 4377 / 49.16 / 4.0 / 1
>> Calculating confidence-weighted rate for: ['app', 'device'].
   Saving to: app_device_confRate. Group Max /Mean / Median / Min: 17656 / 272.48 / 2.0 / 1
>> Calculating confidence-weighted rate for: ['channel', 'os'].
   Saving to: channel_os_confRate. Group Max /Mean / Median / Min: 1943 / 21.26 / 4.0 / 1
>> Calculating confidence-weighted rate for: ['channel', 'device'].
   Saving to: channel_device_confRate. Group Max /Mean / Median / Min: 7827 / 233.64 / 7.0 / 1
>> Calculating confidence-weighted rate for: ['os', 'device'].
   Saving to: os_device_confRate. Group Max /Mean / Median / Min: 23340 / 330.03 / 3.0 / 1

In [63]:
# Aggregation function
def rate_calculation(x):
    """Calculate the attributed rate. Scale by confidence"""
    rate = x.sum() / float(x.count())
    conf = np.min([1, np.log(x.count()) / log_group])
    return rate * conf

In [64]:
# Perform the merge
train_sample = train_sample.merge(
    group_object['is_attributed']. \
        apply(rate_calculation). \
        reset_index(). \
        rename( 
            index=str,
            columns={'is_attributed': new_feature}
        )[cols + [new_feature]],
    on=cols, how='left'
)
    
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second,os_device_confRate
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,7,9,30,38,0.001014
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,7,13,40,27,0.000891
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,7,18,5,24,0.001497
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,7,4,58,8,0.001014
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,9,9,0,9,0.000527

In [65]:
GROUPBY_AGGREGATIONS = [
    
    # V1 - GroupBy Features #
    #########################    
    # Variance in day, for ip-app-channel
    {'groupby': ['ip','app','channel'], 'select': 'day', 'agg': 'var'},
    # Variance in hour, for ip-app-os
    {'groupby': ['ip','app','os'], 'select': 'hour', 'agg': 'var'},
    # Variance in hour, for ip-day-channel
    {'groupby': ['ip','day','channel'], 'select': 'hour', 'agg': 'var'},
    # Count, for ip-day-hour
    {'groupby': ['ip','day','hour'], 'select': 'channel', 'agg': 'count'},
    # Count, for ip-app
    {'groupby': ['ip', 'app'], 'select': 'channel', 'agg': 'count'},        
    # Count, for ip-app-os
    {'groupby': ['ip', 'app', 'os'], 'select': 'channel', 'agg': 'count'},
    # Count, for ip-app-day-hour
    {'groupby': ['ip','app','day','hour'], 'select': 'channel', 'agg': 'count'},
    # Mean hour, for ip-app-channel
    {'groupby': ['ip','app','channel'], 'select': 'hour', 'agg': 'mean'}, 
        # V2 - GroupBy Features #
    #########################
    # Average clicks on app by distinct users; is it an app they return to?
    {'groupby': ['app'], 
     'select': 'ip', 
     'agg': lambda x: float(len(x)) / len(x.unique()), 
     'agg_name': 'AvgViewPerDistinct'
    },
    # How popular is the app or channel?
    {'groupby': ['app'], 'select': 'channel', 'agg': 'count'},
    {'groupby': ['channel'], 'select': 'app', 'agg': 'count'},
    
    # V3 - GroupBy Features                                              #
    ###################################################################### 
    {'groupby': ['ip'], 'select': 'channel', 'agg': 'nunique'}, 
    {'groupby': ['ip'], 'select': 'app', 'agg': 'nunique'}, 
    {'groupby': ['ip','day'], 'select': 'hour', 'agg': 'nunique'}, 
    {'groupby': ['ip','app'], 'select': 'os', 'agg': 'nunique'}, 
    {'groupby': ['ip'], 'select': 'device', 'agg': 'nunique'}, 
    {'groupby': ['app'], 'select': 'channel', 'agg': 'nunique'}, 
    {'groupby': ['ip', 'device', 'os'], 'select': 'app', 'agg': 'nunique'}, 
    {'groupby': ['ip','device','os'], 'select': 'app', 'agg': 'cumcount'}, 
    {'groupby': ['ip'], 'select': 'app', 'agg': 'cumcount'}, 
    {'groupby': ['ip'], 'select': 'os', 'agg': 'cumcount'}, 
    {'groupby': ['ip','day','channel'], 'select': 'hour', 'agg': 'var'}    
]

In [66]:
# Apply all the groupby transformations
for spec in GROUPBY_AGGREGATIONS:
    
    # Name of the aggregation we're applying
    agg_name = spec['agg_name'] if 'agg_name' in spec else spec['agg']
    
    # Name of new feature
    new_feature = '{}_{}_{}'.format('_'.join(spec['groupby']), agg_name, spec['select'])
    
    # Info
    print("Grouping by {}, and aggregating {} with {}".format(
        spec['groupby'], spec['select'], agg_name
    ))

Grouping by ['ip', 'app', 'channel'], and aggregating day with var
Grouping by ['ip', 'app', 'os'], and aggregating hour with var
Grouping by ['ip', 'day', 'channel'], and aggregating hour with var
Grouping by ['ip', 'day', 'hour'], and aggregating channel with count
Grouping by ['ip', 'app'], and aggregating channel with count
Grouping by ['ip', 'app', 'os'], and aggregating channel with count
Grouping by ['ip', 'app', 'day', 'hour'], and aggregating channel with count
Grouping by ['ip', 'app', 'channel'], and aggregating hour with mean
Grouping by ['app'], and aggregating ip with AvgViewPerDistinct
Grouping by ['app'], and aggregating channel with count
Grouping by ['channel'], and aggregating app with count
Grouping by ['ip'], and aggregating channel with nunique
Grouping by ['ip'], and aggregating app with nunique
Grouping by ['ip', 'day'], and aggregating hour with nunique
Grouping by ['ip', 'app'], and aggregating os with nunique
Grouping by ['ip'], and aggregating device with nunique
Grouping by ['app'], and aggregating channel with nunique
Grouping by ['ip', 'device', 'os'], and aggregating app with nunique
Grouping by ['ip', 'device', 'os'], and aggregating app with cumcount
Grouping by ['ip'], and aggregating app with cumcount
Grouping by ['ip'], and aggregating os with cumcount
Grouping by ['ip', 'day', 'channel'], and aggregating hour with var

In [67]:
    # Unique list of features to select
    all_features = list(set(spec['groupby'] + [spec['select']]))

In [68]:
gp = train_sample[all_features]. \
    groupby(spec['groupby'])[spec['select']]. \
    agg(spec['agg']). \
    reset_index(). \
    rename(index=str, columns={spec['select']: new_feature})

In [69]:
# Merge back to X_total
if 'cumcount' == spec['agg']:
    train_sample[new_feature] = gp[0].values
else:
    train_sample = train_sample.merge(gp, on=spec['groupby'], how='left')

In [70]:
del gp
gc.collect()

749

In [71]:
train_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,day,hour,minute,second,os_device_confRate,ip_day_channel_var_hour
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,7,9,30,38,0.001014,NaN
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,7,13,40,27,0.000891,19.0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,7,18,5,24,0.001497,NaN
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,7,4,58,8,0.001014,NaN
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,9,9,0,9,0.000527,NaN